<a href="https://colab.research.google.com/github/AnuyaVarde/Python/blob/master/Copy_of_Copy_of_Mock_Test_For_Teacher_Recruitment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mock Test For Teacher Recruitment


# **Please Note: This sample test is in Python but during the real test you can choose the coding language of your choice.**

|Particulars|Description|
|-|-|
|Number of Questions|5|
|Test Duration|45 minutes|
|Mode of Test|Online|

### Test Instructions

1. Read all the instructions carefully before going ahead with this notebook. Clarify your doubts with your invigilator, should you have any. In case of any discrepancy, the decision of the your invigilator shall be final and binding.

2. The clock for this test will be controlled by your invigilator. The clock shall be paused by the invigilator in case there is any interruption due to poor internet connectivity or due to any other unforeseen situation. Again in case of any discrepancy, the decision of the your invigilator shall be final and binding.

3. Attempt all the questions. It is strongly recommended that you take a good look at all the questions before attempting them.

4. You are **NOT** allowed to refer to any material, you are **NOT** supposed to take help of anyone during the test and you should **NOT** wear any electronic gadget while attempting the test. Make sure you always share your screen and your webcam is always ON during the test. You can use **ONLY** one plain A4 size paper and a pen during the test for scribbling. Verify both of them with your invigilator before going ahead with the test.

5. You don't have to start the test strictly from the first question. You begin the test from any question of your choice.

6. You will be monitored live through a video call.

7. **DO NOT** share these questions with anyone outside WhiteHat Jr.

---

### Question 1: Print a `*` Triangle

Given an integer $n$ the number of rows in a `*` triangle, write a program to get the triangle with $n$ rows.
```
         *
        * *
       *   *
      *     *
     *       *
    *         *
   *           *
  *             *
 *               *
 *****************

```

**Constraints**

n > 2

**Input Format**
```
Enter the number of rows in the * triangle: Integer value of n
```

**Output Format**
```
Triangle of n rows with *
```

**Sample Input**
```
10
```

**Sample Output**
```
         *
        * *
       *   *
      *     *
     *       *
    *         *
   *           *
  *             *
 *               *
 *****************

```

In [ ]:
# Write your solution here.

---

### Question 2: Find Sum of the Series

Given a natural number $n$ (where $1\leq n \leq 9$), find the sum of the series having $n$ number of numbers such that the series is $n, nn, nnn, \dots nnn \dots n $ times.
 
 
Hence, the required sum is
 
$$n + nn + nnn + \dots + nnn \dots n $$

**Constraints**

$1\leq n \leq 9$

 **Input Format**
```
Integer value of n
```

**Output Format**
```
Print the sum of series for n
```

**Sample Input 1**
```
2
```

**Sample Output 1**
```
24

# 2 + 22
```

**Sample Input 2**
```
3
```

**Sample Output 2**
```
369

# 3 + 33 + 333 
```

**Sample Input 3**
```
4
```

**Sample Output 3**
```
4936

# 4 + 44 + 444 + 4444
```

In [ ]:
# Write your solution here.

---

### Question 3: Power Ranger

Given 3 inputs `n`, `minimum`, & `maximum`, find the number of values raised to the nth power that lie in the range [`minimum`, `maximum`], inclusive.

**Constraints**:

  1. Remember that the range is inclusive.

  2. a < b will always be true.

**Input Format**
```
Three integer value of n, minimum, maximum
```

**Output Format**
```
Print the number of values raised to the nth power that lie in the range minimum & maximum.
```

**Sample Input 1**
```
2, 49, 65
```

**Sample Output 1**
```
2

# 2 squares (n^2) lie between 48 and 65, 49 (7^2) and 64 (8^2)
```

**Sample Input 2**
```
3, 1, 27
```

**Sample Output 2**
```
3

# 3 cubes (n^3) lie between 1 and 27, 1 (1^3), 8 (2^3) and 27 (3^3)
```

**Sample Input 3**
```
10, 1, 5
```

**Sample Output 3**
```
1

# 1 value raised to the 10th power lies between 1 and 5, 1 (1^10)
```

In [ ]:
# Write your solution here.

---

### Question 4: First Before Second Letter

You are given three inputs: a string, one letter, and a second letter.

Check if every instance of the first letter occurs before every instance of the second letter.

**Constraints**:

1. All strings will be in lower case

2. All strings will contain the first and second letters at least once

**Input Format**
```
Three string value of string, first & second
```

**Output Format**
```
Print 'True' if the first letter occurs before every instance of the second letter, otherwise print 'False'
```

**Sample Input 1**
```
"a rabbit jumps joyfully", "a", "j"
```

**Sample Output 1**
```
True

# Every instance of "a" occurs before every instance of "j".
```

**Sample Input 2**
```
"knaves knew about waterfalls", "k", "w"
```

**Sample Output 2**
```
True
```

**Sample Input 3**
```
"happy birthday", "a", "y"
```

**Sample Output 3**
```
False

# The "a" in "birthday" occurs after the "y" in "happy".
```

In [ ]:
# Write your solution here.

---

### Question 5: Friday the 13th

Given the `month` and `year` as numbers, check whether that month contains a 'Friday 13th'.

**Constraints**:

1. January will be given as 1, February as 2, etc ...

2. Check Resources for some helpful tutorials on Python's datetime module.

**Input Format**
```
Two integer value of month & year
```

**Output Format**
```
Print 'True' if that month contains a 'Friday 13th' on the given year, otherwise print 'False'
```

**Sample Input 1**
```
3, 2020
```

**Sample Output 1**
```
True
```

**Sample Input 2**
```
10, 2017
```

**Sample Output 2**
```
True
```

**Sample Input 3**
```
1, 1985
```

**Sample Output 3**
```
False
```

In [ ]:
# Write your solution here.

---